{% load static %}
<!DOCTYPE html>
<html lang="fa">

<head>
	<meta charset="UTF-8">
	<title>Key, Value Project</title>
	<link rel='stylesheet' href='{% static "home/css/bootstrap.css" %}'>
	<link rel='stylesheet' href='{% static "home/css/bootstrap-social.css" %}'>
	<link rel="stylesheet" href='{% static "home/css/style.css" %}'>
</head>

<body class="sahel">

	<main class="site-wrapper">
		<div class="pt-table desktop-768">
			<div class="pt-tablecell page-home relative">
				<div class="overlay"></div>

				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">

							<div class="hexagon-menu clear">

								<div class="hexagon-item">
									<div class="hex-item">
										<div></div>
										<div></div>
										<div></div>
									</div>
									<div class="hex-item">
										<div></div>
										<div></div>
										<div></div>
									</div>
									
									<a href="{% url 'set-key-value' %}"class="hex-content">
										<span class="hex-content-inner">
											<span class="icon">
												<i class="fa fa-bullseye"></i>
											</span>
											<span class="title">Set</span>
										</span>
										<svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1"
											xmlns="http://www.w3.org/2000/svg">
											<path
												d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
												fill="#1e2530"></path>
										</svg>
									</a>
								</div>
								<div class="hexagon-item">
									<div class="hex-item">
										<div></div>
										<div></div>
										<div></div>
									</div>
									<div class="hex-item">
										<div></div>
										<div></div>
										<div></div>
									</div>
									<a href="{% url 'key-view' %}" target="_blank" class="hex-content">
										<span class="hex-content-inner">
											<span class="icon">
												<i class="fa fa-braille"></i>
											</span>
											<span class="title">Get</span>
										</span>
										<svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1"
											xmlns="http://www.w3.org/2000/svg">
											<path
												d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
												fill="#1e2530"></path>
										</svg>
									</a>
								</div>
								<div class="hexagon-item">
									<div class="hex-item">
										<div></div>
										<div></div>
										<div></div>
									</div>
									<div class="hex-item">
										<div></div>
										<div></div>
										<div></div>
									</div>
									<a href="{% url 'hostory-key-enter' %}" target="_blank" class="hex-content">
										<span class="hex-content-inner">
											<span class="icon">
												<i class="fa fa-id-badge"></i>
											</span>
											<span class="title">History</span>
										</span>
										<svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1"
											xmlns="http://www.w3.org/2000/svg">
											<path
												d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
												fill="#1e2530"></path>
										</svg>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	<script src="Codilo.js"></script>

</body>

</html>
